<launch>

<!--<param name="robot_description" textfile="$(find plastun_description)/urdf/plastun.urdf" />-->


  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find plastun_description)/rviz/map.rviz" />


<param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


</launch>
