<launch>

<!--<param name="robot_description" textfile="$(find plastun_description)/urdf/plastun.urdf" />-->
<!--	 <param name="robot_description" command="$(find xacro)/xacro.py '$(find plastun_description)/urdf/plastun.xacro'" /> -->

  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find plastun_description)/rviz/control_system.rviz" />


<param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
