<launch>

<!-- cmd_vel + odom-->
<include file="$(find plastun_modules_launches)/launches/driving.launch"/>

<!-- imu-->
<include file="$(find plastun_modules_launches)/launches/bins.launch"/>

<!-- tf odom to base_link-->
<include file="$(find plastun_modules_launches)/launches/odo_tf.launch"/>

<!-- hokuyo node-->
<include file="$(find plastun_modules_launches)/launches/hokuyo.launch"/>

<!-- rotate turret by topic or action-->
<include file="$(find plastun_modules_launches)/launches/rotate_turret.launch"/>

<!-- camera -->
<include file="$(find plastun_modules_launches)/launches/cam.launch"/>


</launch>
