<launch>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
  
    <!-- Starts up faster, but timestamps will be inaccurate. -->
    <param name="calibrate_time" type="bool" value="false"/>
    
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/URG"/>
  
    <param name="intensity" type="bool" value="false"/>
  </node>

<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms 
or
static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_hokuyo_broadcaster" args="0.2 -0.083 0 0 0 0 base_link laser 100" />

 </launch>
