<launch>
  <!-- launch to start amcl mapping with known map  -->
	<arg name="scan" default="/scan" />
	 <!-- <arg name="map"  default="$(find plastun_navigation)/maps/floor_test.yaml"/> -->
   <arg name="map"  default="$(find plastun_navigation)/maps/lab_223.yaml"/> 
    

        <!-- launch map server -->
	<node name="mapserver" pkg="map_server" type="map_server" args="$(arg map)" respawn="false" output="screen">
  	</node>

	<include file="$(find plastun_navigation)/config/amcl_stage.xml">
	    <arg name="scan" value="$(arg scan)" />
	</include> 
	
	<include file="$(find plastun_navigation)/config/move_base.xml">
	    <arg name="scan" value="$(arg scan)" />
	</include> 
</launch>
