<launch>
	<node ns="infra" name="infra" pkg="spb_cameras" type="camera_driver.py" output="screen">
		<param name="hostname" value="192.168.0.112/cgi-bin/cmd/encoder?GET_STREAM" />
		<param name="width" value="640"/>
		<param name="height" value="480"/>
		<param name="username" value="user"/>
		<param name="password" value="user"/>
		<param name="prefix" value="one"/>
		<param name="frame_id" value="infra"/>
		<param name="camera_info_url" value="package://spb_cameras/cfg/cam.yaml"/>
	</node>
</launch>
