<launch>
	<arg name="prefix" default="/stereo/" />
	<node name="image_view_left" pkg="image_view" type="image_view">
		<remap from="image" to="$(arg prefix)/left/image_raw" />		
	</node>
	<node name="image_view_right" pkg="image_view" type="image_view">
		<remap from="image" to="$(arg prefix)/right/image_raw" />
		
	</node>
</launch>
