<launch>

   <arg name="use_sim_time" default="true"/>
   <param name="robot_description" textfile="$(find plastun_description)/urdf/plastun.urdf" />  

<!-- <param name="robot_description" textfile="$(find plastun_description)/urdf/model.sdf" />   -->
<!-- запускаем комнату -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find plastun_gazebo)/worlds/komnata.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    
  </include>
  

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find plastun_description)/urdf/plastun.urdf -urdf -z 0.001 -model plastun" />

<!-- ros_control rrbot launch file -->
  <include file="$(find plastun_control)/launch/plastun_control.launch"/>


</launch>
